<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Yuning Hsueh | Home
        link(rel="stylesheet", href="style.css")
        link(href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet")
    body

        header(id="nav")
            div(id="logo") Yuning #[br]Hsueh
            
            nav(class="button")
                a(href="#") Home
                a(href="#") About
                a(href="#") Work
                a(href="#") Journal
                a(href="#") Contact

            section(id="content")

        
        